/* banner */

.banner-main {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.logo {
  padding: 50px 150px;
  font-size: 34px;
  color: #4e47ff;
  font-weight: 1000;
}

.Sign-Up-button {
  border: none;
  color: #ffffff;
  margin: 51.5px 150px;
  padding: 12px 36px;
  border-radius: 10px;
  background: #4e47ff;
}
.header {
  background-image: url("./B12A01-landing-launchpad/Assets/Hero-bg.png");
  /* background-position-x: -47px;
  background-position-y: 49px; */
  /* max-width: 1440px;
  max-height: 650;
  height: 5; */
}
.Sign-Up-button:hover {
  scale: 1.25;
  background: rgba(185, 185, 185, 0.425);
  color: #4e47ff;
  box-shadow: 2px 2px 5px 3px #9ff1ff;
}
.banner-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 62px;
  font-weight: bold;
  margin-top: 150px;
}
.banner-description-btn {
  margin-top: 89px;
  margin-left: 540px;
  margin-bottom: 152px;
}
/* action */
.action-description {
  padding: 100px 150px;
}
.action-h3 {
  font-weight: bold;
  font-size: 42px;
}
.action-text {
  margin-bottom: 23px;
}
.action-btn {
  margin-left: 0px;
}
.action {
  display: flex;
  align-items: center;
}
.action-img-mini {
  border-radius: 45px;
}
/* productive */
.productive-main {
  text-align: center;
  color: #252432;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 40px;
}
.productive {
  background-color: #4e47ff10;
  margin: 0 150px;
  border-radius: 50px;
  margin-bottom: 137px;
  white-space: nowrap;
}
.productive {
  padding: 50px 142px;
}
.productive-m {
  display: flex;
  justify-content: center;
  gap: 158px;
  font-size: 80px;
  font-weight: bold;
}
.number-productive-power {
  display: flex;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  justify-content: center;
  gap: 240px;
  color: #00000050;
}
/* review */
.review-main {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.review-people-dad {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 135px;
}
.p {
  margin-bottom: 24px;
}
.stars {
  color: gold;
  font-size: 18px;
  margin-bottom: 4px;
}
.review-img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.reviewer {
  display: flex;
  align-items: center;
}
.reviewer-name {
  color: #757575;
}
.reviewer-date {
  color: #b3b3b3;
}
.review-people {
  box-shadow: 1px 1px 50px rgb(166, 166, 166);
  padding: 20px 35px;
  border-radius: 30px;
}
/* newslatter */
.newslatter-dad{
  display: flex;
  gap: 135px;
  margin: 20px 150px;
}
.newslatter-main{
  font-size: 97px;
  font-weight: bold;
}
.from-email{
  display: flex;
  flex-direction: column;
}
.email{
  margin-bottom: 10px;
}
.input-email{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 131px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.submit{
  margin-left: 0;
  margin-top: 10px;
}
.newslatter{
  white-space: nowrap;
  margin-bottom: 14px;
}
.textarea-wrap{
  display: block;
  width: 100%;
  max-width: 450px;
}
.input-Message{
  min-height: 150px;
  max-height: 400px;
  
}
.submit{
  cursor: pointer;
}
/* footer */
.footer-logo{
  font-size: 100px;
  font-weight: bold;
}
.footer-description{
  font-size: 16px;
  color: #8987A1;
  margin-bottom: 30px;
}
.footer-last{
  list-style: none;
}
.footer-last {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50PX;
}
div ul {
  gap: 60px;
} 
div ul a{
  text-decoration: none;
  color: #8987A1;
}
/* share */
.blue-color-text {
  color: #4e47ff;
}
.blue-color-background {
  background: #4e47ff;
}
.action-text-color {
  color: #d9d9d9;
}
/* text font */
.manrope-uniquifier {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope-uniquifier-Raleway {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
